{% extends 'base.html.twig' %}
{% form_theme formLivre 'bootstrap_4_layout.html.twig'%}
{% block body %}
    <h1>Création Formulaire</h1>

    {{form_start(formLivre)}}
    
    {{ form_widget(formLivre)}}

    {{form_end(formLivre)}}

{% endblock %}