{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{title}}</h1>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, perferendis laudantium ex ipsum exercitationem eos. Dolor natus quam consectetur quia non, nam error ipsam minima beatae enim iste quibusdam velit soluta, nisi consequuntur ducimus adipisci ex sint nulla rem? At!</p>
    <p>Aperiam, explicabo incidunt, soluta quae distinctio tempore corrupti nobis voluptas facere deleniti repudiandae, odit natus. In deserunt architecto debitis exercitationem facere praesentium corrupti. Ratione, modi fuga reprehenderit quas odio repellendus! Quos excepturi voluptatibus aliquid veniam doloribus provident ipsa, molestias ipsum.</p>
{% endblock %}