{% extends 'base.html.twig' %}

{% block body %}

    <div id="sectionBibliotheque">

    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('mabibliotheque') }}
    {% endblock %}

{% endblock%}