{% extends 'base.html.twig' %}

{% block body %}

    <div id="root"></div>

        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

{% endblock %}
